.list-cell:filled:selected, .list-cell:filled:focused{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: black;
}

.list-cell:odd , .list-cell:even {
    -fx-background-color: white;
    -fx-border-color: rgba(0, 0, 0, 0.1);
}

.list-cell:filled:hover {
    -fx-background-color: #e3efff;
    -fx-text-fill: white;
}