.list-cell:filled:selected, .list-cell:filled:focused{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: black;
}

.list-cell:odd , .list-cell:even {
    -fx-background-color: white;
    -fx-border-color: #f3f3f3;
}

.list-cell:filled:hover {
    -fx-background-color: #7575f3;
    -fx-text-fill: white;
}